
    <div class="public-Bg border-radius pd-24 mg-b-16">
      <div class="row">
        <div class="publicTitle tableTitle title-border pd-b-24">
          <span>基本信息</span>
        </div>
      </div>

      <div class="formHorizontal">
        <div class="row mg-t-24">
          <label class="controlLabel timeInput mg-r-24">真实姓名</label>
          <div class="controlInput">
            <input class="formInput" type="text" placeholder="请输入您的真实姓名" ng-model="account">
          </div>
        </div>
        <div class="row mg-t-24">
          <label class="controlLabel timeInput  mg-r-24">电话</label>
          <div class="controlInput ">
            <input class="formInput" type="text" placeholder="请输入您的电话号码" ng-model="mobile">
          </div>
        </div>
        <div class="row mg-t-24">
          <label class="controlLabel timeInput  mg-r-24">微信号</label>
          <div class="controlInput ">
            <input class="formInput" type="text" placeholder="请再次输入您的微信号" ng-model="wechat">
          </div>
        </div>

        <div class="row mg-t-24">
          <label class="controlLabel timeInput  mg-r-24">QQ号</label>
          <div class="controlInput ">
            <input class="formInput" type="text" placeholder="请再次输入您的QQ号" ng-model="qqNumber">
          </div>
        </div>
        <div class="row mg-t-24">
          <label class="controlLabel timeInput  mg-r-24"></label>
          <div class="controlBtn">
            <input class="formBtn submitBtn border-radius" type="button" name="name" value="提交" ng-click="commit()">
          </div>
        </div>
      </div>
    </div>
