
        <div class="public-Bg border-radius pd-24 mg-b-16" style="display: block">
          <div class="row">
            <div class="publicTitle tableTitle title-border pd-b-24">
              <span>修改密码</span>
            </div>
          </div>
    
          <div class="formHorizontal">
            <div class="row mg-t-24">
              <label class="controlLabel timeInput mg-r-24">旧密码</label>
              <div class="controlInput">
                <input class="formInput" type="password" placeholder="请输入您的旧密码" ng-model="oldPassword">
              </div>
            </div>
            <div class="row mg-t-24">
              <label class="controlLabel timeInput  mg-r-24">新密码</label>
              <div class="controlInput ">
                <input class="formInput" type="password" placeholder="请输入您的新密码" ng-model="newPassword">
              </div>
            </div>
            <div class="row mg-t-24">
              <label class="controlLabel timeInput  mg-r-24">确认密码</label>
              <div class="controlInput ">
                <input class="formInput" type="password" placeholder="请再次输入您的新密码" ng-model="newPasswordAg">
              </div>
            </div>
            <div class="row mg-t-24">
              <label class="controlLabel timeInput  mg-r-24"></label>
              <div class="controlBtn">
                <input class="formBtn submitBtn border-radius" type="button" name="name" value="提交" ng-click="commit()">
              </div>
            </div>
          </div>
        </div>
